.features-list {

    display: flex;

    flex-direction: column;

    gap: 72px;

}


.features-item {

    text-align: left;

}


.features-title {

    margin-bottom: 8px;

    font-size: 36px;

    line-height: 1.11;

    font-weight: 700;

    color: #2e2f42;

    text-align: center;

    letter-spacing: 0.02em;

}


.features-text {

    font-size: 16px;

    line-height: 1.5;

    font-weight: 500;

    color: #434455;

    text-align: left;

    letter-spacing: 0.02em;

}


.features-icon {

    display: none;

}



@media screen and (min-width: 768px) {


    .features-list {

        flex-direction: row;

        flex-wrap: wrap;

        gap: 72px 24px;

    }


    .features-item {

        width: calc((100% - 24px) / 2);

    }


    .features-title {

        text-align: left;

    }

}



@media screen and (min-width: 1158px) {


    .features {

        padding-top: 120px;

        padding-bottom: 120px;

    }


    .features-list {

        flex-wrap: nowrap;

        gap: 24px;

    }


    .features-item {

        width: calc((100% - 72px) / 4);

    }


    .features-icon {

        display: flex;

        align-items: center;

        justify-content: center;

        height: 112px;

        margin-bottom: 8px;

        border-radius: 4px;

        background-color: #f4f4fd;

    }


    .features-title {

        font-size: 20px;

        line-height: 1.2;

        font-weight: 500;

        text-align: left;

    }


    .features-text {

        font-weight: 400;

    }

}