.footer {
    padding: 96px 0;
    background-color: #2e2f42;
}


.footer-container {

    display: flex;

    flex-direction: column;

    gap: 72px;

}


.footer-info {

    text-align: center;

}


.footer-logo {

    display: inline-block;

    margin-bottom: 16px;

    color: #4d5ae5;

}


.footer-logo span {

    color: #f4f4fd;

}


.footer-text {

    max-width: 264px;

    font-size: 16px;

    line-height: 1.5;

    color: #f4f4fd;

    text-align: left;

}



.footer-title {

    margin-bottom: 16px;

    font-size: 16px;

    line-height: 1.5;

    font-weight: 500;

    color: #ffffff;

    text-align: center;

}



.social-list {

    display: flex;

    justify-content: center;

    gap: 16px;

}



.social-link {

    display: flex;

    align-items: center;

    justify-content: center;

    width: 40px;

    height: 40px;

    border-radius: 50%;

    background-color: #4d5ae5;

}



.social-link:hover,
.social-link:focus {

    background-color: #31d0aa;

}


.social-link svg {

    fill: #ffffff;

}



.subscribe-form {

    display: flex;

    flex-direction: column;

    gap: 16px;

}



.subscribe-form input {

    width: 100%;

    height: 40px;

    padding-left: 16px;

    border: 1px solid #ffffff;

    border-radius: 4px;

    background-color: transparent;

    color: #ffffff;

}



.subscribe-form input::placeholder {

    color: #ffffff;

}



.subscribe-form button {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 16px;

    width: 165px;

    height: 40px;

    margin: 0 auto;

    border: none;

    border-radius: 4px;

    background-color: #4d5ae5;

    font-size: 16px;

    line-height: 1.5;

    font-weight: 500;

    color: #ffffff;

}



.subscribe-form button:hover,
.subscribe-form button:focus {

    background-color: #404bbf;

}



.subscribe-form svg {

    fill: #ffffff;

}



@media screen and (min-width: 768px) {


    .footer-container {

        flex-direction: row;

        flex-wrap: wrap;

        align-items: baseline;

        width: 584px;

        margin: 0 auto;

        gap: 72px 24px;

    }


    .footer-info {

        text-align: left;

    }


    .footer-title {

        text-align: left;

    }


    .social-list {

        justify-content: flex-start;

    }


    .subscribe-form {

        flex-direction: row;

        gap: 24px;

    }


    .subscribe-form input {

        width: 264px;

    }


    .subscribe-form button {

        margin: 0;

    }

}



@media screen and (min-width: 1158px) {


    .footer {

        padding: 100px 0;

    }


    .footer-container {

        width: 100%;

        flex-direction: row;

        flex-wrap: nowrap;

        align-items: baseline;

        gap: 0;

    }


    .footer-info {

        margin-right: 120px;

    }


    .footer-social {

        margin-right: auto;

    }


    .footer-title {

        text-align: left;

    }


}