.mobile-menu {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #ffffff;

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

    transition:
        opacity 250ms ease,
        visibility 250ms ease;

}



.mobile-menu.is-open {

    opacity: 1;

    visibility: visible;

    pointer-events: auto;

}



.mobile-menu-container {

    position: relative;

    display: flex;

    flex-direction: column;

    height: 100%;

    padding: 72px 24px 40px;

}



.mobile-menu-close {

    position: absolute;

    top: 24px;

    right: 24px;


    display: flex;

    align-items: center;

    justify-content: center;


    width: 24px;

    height: 24px;


    padding: 0;


    border: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 50%;


    background-color: #ffffff;

}



.mobile-menu-close svg {

    fill: #2e2f42;

}



.mobile-menu-list {

    display: flex;

    flex-direction: column;

    gap: 40px;

}



.mobile-menu-link {

    font-size: 36px;

    line-height: 1.11;

    font-weight: 700;

    letter-spacing: 0.02em;

    color: #2e2f42;

}



.mobile-menu-link.current {

    color: #404bbf;

}



.mobile-menu-contacts {

    margin-top: auto;

}



.mobile-menu-contacts ul {

    display: flex;

    flex-direction: column;

    gap: 24px;

}



.mobile-menu-phone {

    font-size: 20px;

    line-height: 1.2;

    font-weight: 500;

    letter-spacing: 0.02em;

    color: #4d5ae5;

}



.mobile-menu-email {

    font-size: 18px;

    line-height: 1.2;

    font-weight: 500;

    letter-spacing: 0.02em;

    color: #434455;

}



.mobile-menu-social {

    display: flex;

    gap: 40px;

    margin-top: 48px;

}



.mobile-menu-social a {

    display: flex;

    align-items: center;

    justify-content: center;


    width: 40px;

    height: 40px;


    border-radius: 50%;


    background-color: #4d5ae5;

}



.mobile-menu-social svg {

    fill: #ffffff;

}



@media screen and (min-width: 768px) {


    .mobile-menu {

        display: none;

    }

}