.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.portfolio-item {

    border: 1px solid #e7e9fc;

    background-color: #ffffff;

    transition:
        box-shadow 250ms ease;

}


.portfolio-item:hover {

    box-shadow:
        0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);

}



.portfolio-thumb {

    position: relative;

    overflow: hidden;

}



.portfolio-thumb img {

    width: 100%;

}



.portfolio-overlay {

    position: absolute;

    top: 0;
    left: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 32px;

    font-size: 16px;
    line-height: 1.5;

    color: #ffffff;

    background-color: #4d5ae5;

    transform: translateY(100%);

    transition:
        transform 250ms ease;

}



.portfolio-item:hover .portfolio-overlay {

    transform: translateY(0);

}



.portfolio-info {

    padding: 32px 16px;

}



.portfolio-info h3 {

    margin-bottom: 8px;

    font-size: 20px;

    line-height: 1.2;

    font-weight: 500;

    color: #2e2f42;

}



.portfolio-info p {

    font-size: 16px;

    line-height: 1.5;

    color: #434455;

}




@media screen and (min-width: 768px) {


    .portfolio-list {

        flex-direction: row;

        flex-wrap: wrap;

        gap: 72px 24px;

    }


    .portfolio-item {

        width: calc((100% - 24px) / 2);

    }


}



@media screen and (min-width: 1158px) {


    .portfolio {

        padding-top: 120px;

        padding-bottom: 120px;

    }


    .portfolio-list {

        row-gap: 48px;

    }


    .portfolio-item {

        width: calc((100% - 48px) / 3);

    }


}